
  <header>
    <h1>Tienda de Productos</h1>
  </header>

  <nav>
    <a href="#">Inicio</a>
    <a href="#">Productos</a>
    <a href="#">Contacto</a>
  </nav>

  <div class="container">
    <div class="product">
      <img src="https://via.placeholder.com/200" alt="Producto 1">
      <h2 id="producto1">Producto 1</h2>
      <p>Descripción del producto 1.</p>
      <p >Precio: <span id="precio1">19.99€</span></p>
      <button class="buy-button" (click)="showConfirmationDialog('producto1', 'precio1')">Comprar</button>
    </div>
    <div class="product">
      <img src="https://via.placeholder.com/200" alt="Producto 2">
      <h2 id="producto2">Producto 2</h2>
      <p>Descripción del producto 2.</p>
      <p >Precio: <span id="precio2">24.99€</span></p>
      <button class="buy-button" (click)="showConfirmationDialog('producto2', 'precio2')">Comprar</button>
    </div>
    <div class="product">
      <img src="https://via.placeholder.com/200" alt="Producto 3">
      <h2 id="producto3">Producto 3</h2>
      <p>Descripción del producto 3.</p>
      <p>Precio: <span  id="precio3">14.99€</span></p>
      <button class="buy-button" (click)="showConfirmationDialog( 'producto3', 'precio3')">Comprar</button>
    </div>
    <div class="product">
      <img src="https://via.placeholder.com/200" alt="Producto 4">
      <h2 id="producto4">Producto 4</h2>
      <p>Descripción del producto 4.</p>
      <p >Precio:<span id="precio4"> 29.99€</span></p>
      <button class="buy-button" (click)="showConfirmationDialog('producto4', 'precio4')">Comprar</button>
    </div>
    <div class="product">
      <img src="https://via.placeholder.com/200" alt="Producto 5">
      <h2 id="producto5">Producto 5</h2>
      <p>Descripción del producto 5.</p>
      <p >Precio: <span id="precio5">22.99€</span></p>
      <button class="buy-button" (click)="showConfirmationDialog('producto5', 'precio5')">Comprar</button>
    </div>
    <div class="product">
      <img src="https://via.placeholder.com/200" alt="Producto 6">
      <h2 id="producto6">Producto 6</h2>
      <p>Descripción del producto 6.</p>
      <p >Precio: <span id="precio6">17.99€</span></p>
      <button class="buy-button" (click)="showConfirmationDialog('producto6', 'precio6')">Comprar</button>
    </div>
   
    
  </div>

  <footer>
    &copy; 2023 Tienda de Productos
  </footer>
<router-outlet />